color_1 = #e7e7e7
color_2 = rgba(34,34,34,0.6)

/*
div
  padding-right: 0px !important*/

body
  background: #f6f6f6;
  margin: 0
  padding: 0



.row
  margin-right: 0px !important;

.font-white
  color: white
