color_1 = #e7e7e7
color_2 = rgba(34,34,34,0.6)

@font-face {
    font-family: roboto;
    src: url(../resources/materialize/font/roboto/Roboto-Bold.woff);
}

body
  font-family: roboto
  background: #f5f5f5
  color: #565a5c
  margin: 0
  padding: 0
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;



.row
  margin-right: 0px !important;

.font-white
  color: white

.caret{
  border-top: 0px
}
