/*  top bar style sheet  */
fuente_top_option = 14px

#topbar
  position: absolute
  width: 100%
  margin-left: 0
  color: white
  font-weight: bold
  z-index: 10

.logo
  font-weight: bold
  font-size: 22px

.topbar-option-active
  border: solid 1.5px #ff5a5f
  color: #ff5a5f
  text-align: center
  padding: 5px
  border-radius: 3px
  margin-top: 10px
  font-size: fuente_top_option
  cursor: pointer
  font-weight: bolder;


.topbar-option
  text-align: center
  padding: 5px
  border-radius: 3px
  margin-top: 10px
  font-size: fuente_top_option
  cursor: pointer
  font-weight: lighter;
