@import '../resources/global/global.styl'
@import 'search_component.styl'
body
  background: white

.curso:hover
  box-shadow: 0 3px 6px rgba(0,0,0,0.3) , 0 0 1px rgba(0,0,0,0.3) , 0 0 15px rgba(158,182,209,0.2);

.curso
  width: 90%
  margin: 0 auto
  background: white

  ul
    list-style: none;
    margin-top: 1em
    padding-bottom: 0.5em

  a
    color: blue

#choose-title
  font-weight: bold

  div p
    font-size: 32px
    padding-top: 10px
    padding-bottom: 20px
#filters-container
  width: 95%
  margin: 0 auto

  form
    width: 95%
    margin: 0 auto
    margin-bottom: 30px

    .input-field
      width: 100%
