@import 'index.styl'


.find-option
  width: 100%

.find-separator
  padding: 0.5em
  border-bottom: 1px solid #f2f2f2

.premium
  background: #FFCB79
  border: 2px solid #FFAD2C
  padding: 1em


.curso:hover
  box-shadow: 0 3px 6px rgba(0,0,0,0.3) , 0 0 1px rgba(0,0,0,0.3) , 0 0 15px rgba(158,182,209,0.2);

.another-courses
  background: #f6f6f6;
  padding: 1em

.curso
  width: 90%
  margin: 0 auto
  background: white

  ul
    list-style: none;
    margin-top: 1em
    padding-bottom: 0.5em

  a
    color: blue

#search-container
  margin-top: 1em


#find-filter-container
  width: 75%
  margin: 0 auto
  background: white
  padding: 1em
