<script id="cursos-template" type="x-tmpl-mustache">
{{#cursos}}
  <div class="col-md-4" >
    <div class="card" style="overflow: hidden;">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://tambook-upload.s3.amazonaws.com/resize_cache/1596/f1ee92f2a25def4c31c7931e3a7f7bde/iblock/be5/nzaklnzios005_001.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{nombre}}<i class="material-icons right">more_vert</i></span>

        <p><a href="/wizard/index.html">Comprar</a></p>
      </div>
      <div class="card-reveal" style="display: none; transform: translateY(0px);">
        <span class="card-title grey-text text-darken-4">{{nombre}}<i class="material-icons right">close</i></span>
        <br>
        <p>Escuela: {{escuela}}</p><br>
        <p>Horas x Semana: {{numero_horas_semana}}</p><br>
        <p>Horas total: {{numero_horas_total}}</p><br>
        <p>Pais: {{pais}}</p><br>
        <p>Precio {{precio}}</p><br>
      </div>

      <div class="card-action">
        <a href="#">Escuela</a>
        <a href="#">Similares</a>
      </div>
    </div>
  </div>
{{/cursos}}
</script>
